# Exclude everything.
*

# Except the source folder.
!/src/
!/src/**

# Except the ignore list.
!/.gitignore

# Except the main script.
!/index.js

# Except the license.
!/LICENSE

# Except the package manifest.
!/package.json
!/yarn.lock

# Except the README.
!/README.md
